---
import '../styles/global.css';
import Navbar   from "../components/Navbar.astro";
import HeroVideo   from "../components/HeroVideo.astro";
import Jquery
  from "../components/Jquery.astro";
import Footer
  from "../components/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Proyecto Astro con Flowbite</title>
    <script>
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
    <link rel="stylesheet" href="/node_modules/flowbite/dist/flowbite.min.css" />
  </head>
  <body class="bg-white dark:bg-gray-900">
    <Navbar></Navbar>
    <main >
      <slot></slot>
    </main>
    <Footer></Footer>
     <Jquery></Jquery>
    <script is:inline src="/node_modules/flowbite/dist/flowbite.min.js"></script>
</body>
</html>